/TowerConquest/nbproject/private/
/TowerConquestServer/nbproject/private/
/TowerConquest/build/
/TowerConquest/dist/
/TowerConquestServer/build/
/TowerConquestServer/dist/
*.tcdat
*log
logs/
server.txt
/TowerConquestPerformanceTest/nbproject/private/
/TowerConquestPerformanceTest/build/
/TowerConquestPerformanceTest/dist/