*.tcdat
*log
logs/
server.txt
/AscensionServer/nbproject/private/
/Ascension/nbproject/private/
/Ascension/build/
/Ascension/dist/
/AscensionServer/build/
/AscensionServer/dist/
/PerformanceTest/nbproject/private/
/PerformanceTest/build/
/PerformanceTest/dist/
/Ascension.Hub/nbproject/private/
/Ascension.Hub/build/
/Ascension.Hub/dist/
/Ascension.Hub.HTTP/target/